<art-descriptions [column]="10" [title]="titleRef" [bordered]="true">
    <ng-template #titleRef>
        <mat-icon>delete</mat-icon>个人信息
    </ng-template>
    <art-descriptions-item [span]="2" title="name:">chengcheng</art-descriptions-item>
    <art-descriptions-item [span]="2" title="name:">chengcheng</art-descriptions-item>
    <art-descriptions-item [span]="10" title="name:">chengcheng-10</art-descriptions-item>
    <art-descriptions-item [span]="2" title="name:"><mat-icon>delete</mat-icon></art-descriptions-item>
</art-descriptions>
