@use '@angular/material' as mat;
@use 'styles/general/general';
@use 'styles/core/core';

@use 'styles/flex';
@use 'styles/theme/theme';

html {
    @include mat.theme((
        color: (
            theme-type: light,
            primary: mat.$spring-green-palette,
            tertiary: mat.$green-palette,
        ),
        typography: (
            plain-family: Roboto,
            brand-family: Open Sans,
            bold-weight: 900,
            medium-weight: 500,
            regular-weight: 300,
        ),
        density: 0,
    ));

    .accent {
        @include mat.theme((
            color: (
                theme-type: light,
                primary: mat.$magenta-palette,
            )
        ));
    }

    .warning {
        @include mat.theme((
            color: (
                theme-type: light,
                primary: mat.$orange-palette,
            )
        ));
    }

    .error {
        @include mat.theme((
            color: (
                theme-type: light,
                primary: mat.$red-palette,
            )
        ));
    }
}
